@using Filshopfil.DataLayer.entites.product;
@model Product
{
    @ViewData["title"]="";
}


<!-- start breadcroumb -->

<div class="bread-crumb py-4">
    <div class="container-fluid">
        <nav aria-label="breadcrumb" class="my-lg-0 my-2">
            <ul class="breadcrumb ">
                <li  class="p-2"><a href="/" class="font-14 text-muted-two">فروشگاه کیان </a></li>
                <li class="p-2">
                    <a href="/Product/Products/@Model.ProductGroup.ProductGroupId"><span>@Model.ProductGroup.GroupName</span></a>
                </li>
                <li class="p-2">
                    <a href="/Product/ShowProduct/@Model.ProductId"><span>@Model.Name</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!-- end breadcroumb -->
<!-- start main content -->
<!-- start product meta -->

<div class="product-meta py-20">
    <div class="container-fluid">
        <div class="content-box">
            <div class="container-fluid">
                <div class="row gy-3">
                    <div class="col-lg-4">
                        <div class="pro_gallery">
                            <div class="icon-product-box">
                                <div class="icon-product-box-item" data-bs-toggle="modal" data-bs-target="#shareModal"
                                     data-bs-placement="right" title="اشتراک گذاری">
                                    <i class="bi bi-share"></i>
                                </div>
                                <div class="icon-product-box-item" data-bs-toggle="tooltip" data-bs-placement="right"
                                     data-bs-title="افزودن به علاقه مندی">
                                    <i class="bi bi-heart"></i>
                                </div>
                                <div class="icon-product-box-item" data-bs-toggle="tooltip" data-bs-placement="right"
                                     data-bs-title="مقایسه محصول">
                                    <i class="bi bi-arrow-left-right"></i>
                                </div>
                                <div class="icon-product-box-item" data-bs-toggle="modal" data-bs-target="#chartModal"
                                     data-bs-toggle="tooltip" data-bs-placement="right" title="نمودار تغییر قیمت">
                                    <i class="bi bi-bar-chart"></i>
                                </div>
                            </div>
                            <div class="pro-gallery-parent">
                                <div class="swiper product-gallery">
                                    <div class="swiper-wrapper" title="برای بزرگنمایی تصویر دابل کلیک کنید">
                                        <div class="swiper-slide">
                                            <div class="swiper-zoom-container">
                                                <img class="img-fluid" src="/img/@Model.ImageName" width="100" >
                                            </div>
                                        </div>
                                    
                                     
                                    </div>
                                  
                                </div>
                            </div>
                     

                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="product-mete-title bottom-border">
                            <h3 class="title-font h4">
                               @Model.Name
                            </h3>
                            <p class="mb-0 mt-3">
                             دسته بندی:  @Model.ProductGroup.GroupName
                            </p>
                        </div>
                        <div class="product-meta-overal my-3 bottom-border">
                            <div class="row gy-3 align-items-center">
                                <div class="col-md-4">
                                    <div class="label-site rounded-pill label-success">
                                        <i class="bi bi-check-circle me-1"></i>
                                        موجود در انبار
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <span class="text-muted-two me-2">کد محصول</span>
                                    <span>@Model.ProductId</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-meta-feature bottom-border">
                            <div class="row gy-3">
                                <div class="col-lg-8">
                                    <div class="product-meta-feature-items">
                                        <h5 class="title font-16 mb-2">ویژگی های کالا</h5>
                                        <ul class="navbar-nav">
                                           
                                         
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product-meta-rating text-lg-end text-start">
                                        <div class="label-site label-waring rounded-pill">
                                            <span class="product-meta-rating-comment-count me-1">0</span>
                                            <span class="product-meta-rating-comment-count-text me-3">نظر</span>
                                            <span class="product-meta-rating-rating-count me-1">0</span>
                                            <span class="product-meta-rating-rating-count-text">
                                                <i class="bi bi-star-fill"></i>
                                            </span>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                 
                        <div class="product-meta-action mt-4 bottom-border">
                            <div class="row align-items-center gy-3">
                                <div class="col-sm-6">
                                    <div class="d-flex align-items-center justify-content-sm-start justify-content-center">
                                        <p class="mb-0 old-price font-22 text-muted-two text-decoration-line-through me-3">
                                          @Model.Price
                                        </p>
                                        <h6 class="font-30 title-font new-price main-color-one-color">
                                          @Model.Price
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <div class="counter">
                                        <input type="text" name="count" class="counter" value="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-meta-add-to-cart mt-4">
                            <a asp-area="UserPanel"  asp-controller="Order" asp-action="AddCart"   asp-route-id="@Model.ProductId"  class="btn product-meta-add-to-cart-btn main-color-one-bg rounded-pill">
                                افزودن به
                                سبد خرید
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Dottedsquare-product d-lg-flex d-none"></div>
    </div>
</div>

<!-- end product meta -->
<!-- start product desc -->

<div class="product-desc py-20">
    <div class="container-fluid">
        <div class="product-desc-tab">
            <ul class="nav" id="productTab" role="tablist">
                <li class="nav-item">
                    <button class="active waves-effect waves-light" id="productDescLess"
                            data-bs-toggle="tab" data-bs-target="#productDescLess-pane" role="button"
                            type="button" aria-selected="true">
                        توضیحات کالا
                    </button>
                </li>
                <li class="nav-item">
                    <button class=" waves-effect waves-light" id="productDesc"
                            data-bs-toggle="tab" data-bs-target="#productDesc-pane" role="button"
                            type="button" aria-selected="true">
                        مشخصات کالا
                    </button>
                </li>
                <li class="nav-item">
                    <button class=" waves-effect waves-light" id="productTable"
                            data-bs-toggle="tab" data-bs-target="#productTable-pane" role="button"
                            type="button" aria-selected="false">
                        توضیحات تکمیلی
                    </button>
                </li>
               @*  <li class="nav-item">
                    <button class=" waves-effect waves-light" id="productComment"
                            data-bs-toggle="tab" data-bs-target="#productComment-pane" role="button"
                            type="button" aria-selected="false">
                        نظرات
                    </button>
                </li> *@
            </ul>
        </div>
        <div class="content-box">
            <div class="container-fluid">
                <div class="product-descs" id="prodesc">
                    <div class="product-desc">
                        <div class="product-desc-tab-content">
                            <div class="tab-content" id="productTabContent">
                                <div class="tab-pane fade show active product-desc-less-contents"
                                     id="productDescLess-pane">
                                    <div class="product-desc-content">
                                        <input type="checkbox" class="read-more-state" id="readMore3" />
                                        <!-- والد بیشتر ، کمتر ، تمام متن توضیحات باید داخل این تگ قرار بگیرند -->
                                        <div class="read-more-wrap">
                                            <h6 class="font-22 mb-2 title-font">معرفی محصول</h6>

                                            <p>
                                               @Model.ShortDesc
                                            </p>

                                       
                                    <div class="tab-pane fade active show"
                                  @Html.Raw(Model.Body)
                                    @*      role="tabpanel" aria-labelledby="#productTable">
                                        <h6 class="font-26 mb-2 title-font">مشخصات فنی</h6>
                                        <div class="box_list mt-4">
                                            <p class="title">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                     height="16" fill="currentColor"
                                                     class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z">
                                                    </path>
                                                </svg>
                                                مشخصات کلی
                                            </p>
                                            <section>
                                                <ul class="param_list list-inline">
                                                    <div class="container-fluid">
                                                        <div class="row ps-md-2">
                                                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                                        <div class="box_params_list">
                                                            <p class="block border_right_custom1">
                                                                قابلیت پخش موسیقی
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item col-md-8 p-0 m-0">
                                                        <div class="box_params_list">
                                                            <p class="block border_right_custom2">
                                                                دارد
                                                            </p>
                                                        </div>
                                                    </li>
                                        </div>
                                        <div class="row ps-md-2">
                                            <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                                <div class="box_params_list">
                                                    <p class="block border_right_custom1">
                                                        قابلیت کنترل صدا و موزیک
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="list-inline-item col-md-8 p-0 m-0">
                                                <div class="box_params_list">
                                                    <p class="block border_right_custom2">
                                                        ندارد
                                                    </p>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="row ps-md-2">
                                            <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                                <div class="box_params_list">
                                                    <p class="block border_right_custom1">
                                                        راهنمایی صوتی
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="list-inline-item col-md-8 p-0 m-0">
                                                <div class="box_params_list">
                                                    <p class="block border_right_custom2">
                                                        ندارد
                                                    </p>
                                                </div>
                                            </li> *@
                                        </div>

                                    </div>
                                    </ul>
                                    </section>
                                </div>
                                <div class="box_list mt-4">
                                    <p class="title">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16" fill="currentColor"
                                             class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z">
                                            </path>
                                        </svg>
                                        مشخصات کلی
                                    </p>
                                    <section>
                                        <ul class="param_list list-inline">
                                            <div class="container-fluid">
                                                <div class="row ps-md-2">
                                            <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                                <div class="box_params_list">
                                                    <p class="block border_right_custom1">
                                                        قابلیت پخش موسیقی
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="list-inline-item col-md-8 p-0 m-0">
                                                <div class="box_params_list">
                                                    <p class="block border_right_custom2">
                                                        دارد
                                                    </p>
                                                </div>
                                            </li>
                                </div>
                                <div class="row ps-md-2">
                                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                        <div class="box_params_list">
                                            <p class="block border_right_custom1">
                                                قابلیت کنترل صدا و موزیک
                                            </p>
                                        </div>
                                    </li>
                                    <li class="list-inline-item col-md-8 p-0 m-0">
                                        <div class="box_params_list">
                                            <p class="block border_right_custom2">
                                                ندارد
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <div class="row ps-md-2">
                                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                        <div class="box_params_list">
                                            <p class="block border_right_custom1">
                                                راهنمایی صوتی
                                            </p>
                                        </div>
                                    </li>
                                    <li class="list-inline-item col-md-8 p-0 m-0">
                                        <div class="box_params_list">
                                            <p class="block border_right_custom2">
                                                ندارد
                                            </p>
                                        </div>
                                    </li>
                                </div>

                            </div>
                            </ul>
                            </section>
                        </div>
                        <div class="box_list mt-4">
                            <p class="title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                     height="16" fill="currentColor"
                                     class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z">
                                    </path>
                                </svg>
                                مشخصات کلی
                            </p>
                            <section>
                                <ul class="param_list list-inline">
                                    <div class="container-fluid">
                                        <div class="row ps-md-2">
                                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                        <div class="box_params_list">
                                            <p class="block border_right_custom1">
                                                قابلیت پخش موسیقی
                                            </p>
                                        </div>
                                    </li>
                                    <li class="list-inline-item col-md-8 p-0 m-0">
                                        <div class="box_params_list">
                                            <p class="block border_right_custom2">
                                                دارد
                                            </p>
                                        </div>
                                    </li>
                        </div>
                        <div class="row ps-md-2">
                            <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                <div class="box_params_list">
                                    <p class="block border_right_custom1">
                                        قابلیت کنترل صدا و موزیک
                                    </p>
                                </div>
                            </li>
                            <li class="list-inline-item col-md-8 p-0 m-0">
                                <div class="box_params_list">
                                    <p class="block border_right_custom2">
                                        ندارد
                                    </p>
                                </div>
                            </li>
                        </div>
                        <div class="row ps-md-2">
                            <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                <div class="box_params_list">
                                    <p class="block border_right_custom1">
                                        راهنمایی صوتی
                                    </p>
                                </div>
                            </li>
                            <li class="list-inline-item col-md-8 p-0 m-0">
                                <div class="box_params_list">
                                    <p class="block border_right_custom2">
                                        ندارد
                                    </p>
                                </div>
                            </li>
                        </div>

                    </div>
                    </ul>
                    </section>
                </div>
                <div class="box_list mt-4">
                    <p class="title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                             height="16" fill="currentColor"
                             class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z">
                            </path>
                        </svg>
                        مشخصات کلی
                    </p>
                    <section>
                        <ul class="param_list list-inline">
                            <div class="container-fluid">
                                <div class="row ps-md-2">
                            <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                <div class="box_params_list">
                                    <p class="block border_right_custom1">
                                        راهنمایی صوتی
                                    </p>
                                </div>
                            </li>
                            <li class="list-inline-item col-md-8 p-0 m-0">
                                <div class="box_params_list">
                                    <p class="block border_right_custom2">
                                        دارد
                                    </p>
                                </div>
                            </li>
                </div>
                <div class="row ps-md-2">
                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">

                    </li>
                    <li class="list-inline-item col-md-8 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom2">
                                ندارد
                            </p>
                        </div>
                    </li>
                </div>
                <div class="row ps-md-2">
                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">

                    </li>
                    <li class="list-inline-item col-md-8 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom2">
                                ندارد
                            </p>
                        </div>
                    </li>
                </div>

            </div>
            </ul>
            </section>
        </div>
    </div>
</div>
<div class="tab-pane fade product-comment-content" id="productComment-pane">

    <div class="comment-form">
        <h6 class="font-26 mb-2 title-font">نظرت در مورد این محصول چیه؟</h6>
        <p class="font-14 text-muted mt-2">
            برای ثبت نظر، از طریق دکمه افزودن
            دیدگاه جدید
            نمایید. اگر این محصول را قبلا خریده باشید، نظر شما به عنوان خریدار
            ثبت خواهد
            شد.
        </p>
        <div class="row gy-4">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="comment-item mb-3">
                            <input type="email" class="form-control"
                                   id="floatingInputEmail">
                            <label for="floatingInputEmail"
                                   class="form-label label-float">
                                ایمیل خود را وارد
                                کنید
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="comment-item mb-3">
                            <input type="text" class="form-control"
                                   id="floatingInputName">
                            <label for="floatingInputName"
                                   class="form-label label-float">
                                نام خود را وارد
                                کنید
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="comment-item d-flex align-items-center mb-3">
                            <input type="checkbox" class="form-check-input"
                                   id="rememberComment">
                            <label for="rememberComment"
                                   class="form-check-label d-block">
                                ذخیره
                                نام، ایمیل و وبسایت من در مرورگر برای زمانی که
                                دوباره
                                دیدگاهی می‌نویسم.
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mt-3">
                            <label for="commentRating" class="">
                                امتیاز
                                شما
                            </label>
                            <fieldset id="commentRating" class="rating">
                                <input type="radio" id="star5" name="rating"
                                       value="5" required />
                                <label for="star5">5 stars</label>
                                <input type="radio" id="star4" name="rating"
                                       value="4" required />
                                <label for="star4">4 stars</label>
                                <input type="radio" id="star3" name="rating"
                                       value="3" required />
                                <label for="star3">3 stars</label>
                                <input type="radio" id="star2" name="rating"
                                       value="2" required />
                                <label for="star2">2 stars</label>
                                <input type="radio" id="star1" name="rating"
                                       value="1" required />
                                <label for="star1">1 star</label>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="comment-item my-3">
                            <textarea class="form-control"
                                      id="floatingTextarea2"
                                      style="height: 150px"></textarea>
                            <label for="floatingTextarea2"
                                   class="form-label label-float">متن نظر!</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mt-3">
                            <label for="tags-pos" class="text-success mb-2">
                                نقاط
                                قوت
                            </label>
                            <input name="tags-pos" id="tags-pos"
                                   class="commentTags tag-pos form-control"
                                   placeholder="با کلید اینتر اضافه کنید">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mt-3">
                            <label for="tags-neg" class="text-danger mb-2">
                                نقاط
                                ضعف
                            </label>
                            <input name="tags-neg" id="tags-neg"
                                   class="commentTags tag-neg form-control"
                                   placeholder="با کلید اینتر اضافه کنید">
                        </div>
                    </div>
                    <div class="col-12">
                        <a href=""
                           class="btn btn-comment border-0 main-color-one-bg my-3 mx-auto btn-lg waves-effect waves-light">
                            ثبت
                            نظر
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment mb-4">
        <div class="title">
            <div class="row align-items-center">
                <div class="col-sm-10">
                    <div class="d-flex align-items-center">
                        <div class="avatar p-2 bg-white shadow-box rounded-circle">
                            <img src="assets/img/user.jpg" alt=""
                                 class="img-fluid rounded-circle">
                        </div>
                        <div class="d-flex flex-wrap align-items-center ms-2">
                            <h6 class="text-muted font-14">امیر رضایی</h6>
                            <h6 class="text-muted font-14 ms-2">
                                1 دی ماه 1401
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="d-flex star justify-content-end">
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="desc py-3">
            <p class="font-14 text-muted">
                بنده این گوشی را خریداری کردم و کاملا راضی هشتم و بهترین گارانتی
                را دارد
                و پلپ بود و حتما به شما هم پیشنهاد می نمایم که چنانچه قصد خرید
                این کالا
                را دارید از دیجی کالا تهیه نمایید ؛پارت نامبر من هم سنگاپور بود
                که
                بهترین پارت نامبر در بازار است و هیچ محدودیتی ندارد.
            </p>
        </div>
        <div class="foot">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="comment-rates">
                        <div class="positive rounded-4">
                            <div class="d-flex align-items-center justify-content-start">
                                <h6 class="font-14 me-3">نقاط قوت</h6>
                                <nav class="navbar navbar-expand positive-nav">
                                    <ul class="navbar-nav flex-wrap">
                                        <li class="nav-item">
                                            <span class="nav-link font-14">
                                                جنس
                                                بدنه
                                            </span>
                                        </li>
                                        <li class="nav-item">
                                            <span class="nav-link font-14">
                                                کیفیت
                                                تصویر
                                            </span>
                                        </li>
                                        <li class="nav-item">
                                            <span class="nav-link font-14">
                                                شارژ
                                                باطری
                                            </span>
                                        </li>
                                        <li class="nav-item">
                                            <span class="nav-link font-14">
                                                دوربین
                                                قوی
                                            </span>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="negitive rounded-4">
                            <div class="d-flex align-items-center justify-content-start">
                                <h6 class="font-14 me-3">نقاط ضعف</h6>
                                <nav class="navbar navbar-expand negitive-nav">
                                    <ul class="navbar-nav flex-wrap">
                                        <li class="nav-item">
                                            <span class="nav-link font-14">
                                                جنس
                                                بدنه
                                            </span>
                                        </li>
                                        <li class="nav-item">
                                            <span class="nav-link font-14">
                                                کیفیت
                                                تصویر
                                            </span>
                                        </li>
                                        <li class="nav-item">
                                            <span class="nav-link font-14">
                                                شارژ
                                                باطری
                                            </span>
                                        </li>
                                        <li class="nav-item">
                                            <span class="nav-link font-14">
                                                دوربین
                                                قوی
                                            </span>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="comment-reply">
                        <a href=""
                           class="span-primary px-4">پاسخ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end product desc -->
<!-- start product boxs -->

<div class="product-boxs site-slider py-30">